@charset "UTF-8";

#form-div {
	/* 	extra credit flexbox */
	display: flex;
	justify-content: center;
	margin-top: 30px;
	/* 	web font 1 */
	font-family: 'Abril Fatface', cursive;
}

#login_title {
	display: flex;
	justify-content: center;
}