@charset "UTF-8";

#form-div {
	/* 	extra credit flexbox */
	display: flex;
	justify-content: center;
	margin-top: 30px;
	/* 	web font 1 */
	font-family: 'Poiret One', cursive;
}

#name {
	display: flex;
	justify-content: center;
	margin: 10px 0px 0px 0px;
}

#email-area {
	justify-content: center;
	margin: 30px 30px 0px 30px;
}

#pw-area {
	justify-content: center;
	margin: 10px 30px 30px 30px;
}

#submit-area {
	display: flex;
	justify-content: center;
	margin: 30px;
}

#new-area {
	display: flex;
	margin: 10px;
}

#create-account {
	text-decoration: none;
}