@charset "UTF-8";

body {
	background-color: #6c6c6c;
}

a {
	text-decoration: none;
}

.overview {
	margin: 30px;
}

#header {
	display: flex;
	justify-content: center;
	margin-bottom: 25px;
}

#title {
	color: white;
/* 	web font 2 */
	font-family: 'Aboreto', cursive;
	font-family: 'Abril Fatface', cursive;
}

#profile-pic {
	height: auto;
	width: 50%;
	margin: auto;
}