<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">
<link rel="stylesheet" href="../static/styles/overview.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Aboreto&family=Abril+Fatface&display=swap"
	rel="stylesheet">
<title>Overview</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark"
		data-bs-theme="dark">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
				aria-controls="navbarNavDropdown" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" href="overview.html">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="networth.html">Accounts</a></li>
					<li class="nav-item"><a class="nav-link" href="asset.html">Assets</a></li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href=# role="button"
						data-bs-toggle="dropdown" aria-expanded="false"> Profile </a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="profile.html">User
									Profile</a></li>
							<li><a class="dropdown-item" href="login.html">Sign Out</a></li>
						</ul></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="overview">
		<div id="header">
			<h4 id="title">Portfolio Overview</h4>
		</div>
		<div class="row row-cols-1 row-cols-md-3 g-4">
			<div class="col">
				<div class="card text-bg-dark mb-3 border-light">
					<img src="https://www.computerhope.com/jargon/g/guest-user.png"
						class="card-img-top" alt="profile-pic" id="profile-pic">
					<div class="card-body">
						<h5 class="card-title">Edward Nguyen</h5>
						<p class="card-text">
							<a href="profile.html">Go to user profile</a>
						</p>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item" id="username">USERNAME:
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; eln2023</li>
						<li class="list-group-item" id="dob">DATE OF BIRTH:
							01/01/1900</li>
						<li class="list-group-item" id="occupation">OCCUPATION:
							&nbsp;&nbsp; Software Developer</li>
						<li class="list-group-item" id="address">ADDRESS:
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 123 Four
							St, Houston, TX 12345</li>
						<li class="list-group-item" id="email">EMAIL:
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							eln2023@gmail.com</li>
					</ul>
				</div>
			</div>
			<div class="col">
				<div class="card text-bg-dark mb-3 border-light">
					<img src="https://i.imgur.com/8Ay4LZR.png" class="card-img-top"
						alt="accounts-pic" id="accounts-pic">
					<div class="card-body">
						<h5 class="card-title">Financial Accounts</h5>
						<p class="card-text">
							<a href="networth.html">Go to accounts</a>
						</p>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item" id="checking">BOA CHECKING:
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$2,000.00</li>
						<li class="list-group-item" id="savings">PNC SAVINGS:
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $4,000.00</li>
						<li class="list-group-item" id="401k">SCHWAB 401(k):
							&nbsp;&nbsp;&nbsp; $40,000.00</li>
						<li class="list-group-item" id="coinbase">COINBASE:
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$3,000.00</li>
						<li class="list-group-item" id="rentals">RENTALS:
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							$200,000.00</li>
						<li class="list-group-item" id="cards">BASEBALL CARDS:
							$500.00</li>
						<li class="list-group-item" id=divider></li>
						<li class="list-group-item" id="total">TOTAL:
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							$249,500.00</li>
					</ul>
				</div>
			</div>
			<div class="col">
				<div class="card text-bg-dark mb-3 border-light">
					<img src="https://i.imgur.com/o72IwZL.png" class="card-img-top"
						alt="assets-pic" id="assets-pic">
					<div class="card-body">
						<h5 class="card-title">Asset Type Allocation</h5>
						<p class="card-text">
							<a href="asset.html">Go to assets</a>
						</p>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item" id="username">CASH:
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.20%</li>
						<li class="list-group-item" id="dob">STOCKS:
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							61.50%</li>
						<li class="list-group-item" id="dob">BONDS:
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							10.00%</li>
						<li class="list-group-item" id="occupation">CRYPTO:
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							2.20%</li>
						<li class="list-group-item" id="address">REAL ESTATE:
							&nbsp;&nbsp;&nbsp;31.20%</li>
						<li class="list-group-item" id="email">COLLECTIBLES: 1.00%</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<script src="../static/scripts/overview.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
		crossorigin="anonymous"></script>
</body>
</html>